
:root {
  --el-menu-hover-bg-color: var(--el-color-primary-light-8) !important;
  --amll-lyric-player-width: 370px;
  --amll-lyric-player-font-size: 20px;// 歌词字体大小
  /*--amll-lyric-view-color: #fff; !*歌词颜色*!*/
  --amll-lyric-view-hover-bg-color: #fff1;// 歌词hover背景色
}

*,
*::before,
*::after {
  @apply box-border m0 font-400;
}

html,body {
  @apply overflow-hidden rd-2xl drag;
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

::-webkit-scrollbar {
  @apply w5px! appearance-none;
}

::-webkit-scrollbar-thumb {
  @apply h-5px b-transparent b-solid b-1 rd-lg bg-black bg-op-10;
}

#app {
  @apply rounded-xl select-none bg-[#f2f5f8];
}

/* 定义上拉动画 */
.icon-header-enter-active,
.icon-header-leave-active {
  @apply transition-transform-300;
}

.icon-header-enter-from,
.icon-header-leave-to {
  @apply translate-y--100% no-drag;
}

.icon-header-enter-to,
.icon-header-leave-from {
  @apply translate-y-0 drag;
}
