
:root {
  --el-menu-hover-bg-color: var(--el-color-primary-light-8) !important;
  --amll-lyric-player-width: 370px;
  --amll-lyric-player-font-size: 20px;// 歌词字体大小
  /*--amll-lyric-view-color: #fff; !*歌词颜色*!*/
  --amll-lyric-view-hover-bg-color: #fff1;// 歌词hover背景色
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  overflow: hidden;
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

#app {
  width: 100%;
  height: 100%;
  background: #f2f5f8;
  overflow: hidden;
}
